html, body {
  height: 100%;
  width: 100%;
  font-family: "proxima-nova";
    font-size: 16px;
    line-height: 1.8em;
    letter-spacing: .015em;
    font-weight: 300;
    font-style: normal;

}
#logoImg{
  margin-top: -5px;
}

h1.div-title{
  font-family: "futura-pt";
font-size: 82px;
line-height: 1em;
text-transform: uppercase;
text-decoration: none;
letter-spacing: .015em;
font-weight: 700;
font-style: normal;
max-width: 100%;
display: inline-block;
text-align: center;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
margin: 0;
color: #fff;
position: relative;
z-index: inherit;
}

.jumbotron{
   /*background: url("../images/banner.jpg") no-repeat center center fixed;*/
  background-color: #FCC02D;
   font-family: "futura-pt";
   letter-spacing: 0.0121951em;
   height:600px;
   width:100%;
   position: relative;
   display: table;
   -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;


  color: #fff;

}
.jumbotron h1{
   font-size: 80px;
   text-transform: uppercase;
   text-align: center;
   font-weight: 700;
   text-decoration: none;
   font-style: normal;
   max-width: 100%;
   font-family: "futura-pt";
}
.jumbotron .caption{
   font-family: "proxima-nova";
   font-size: 24px;
   line-height: 1.6em;
   text-transform: none;
   text-decoration: none;
   letter-spacing: 0px;
   font-weight: 300;
   font-style: normal;
}

#header-content {
    position: absolute;
    bottom: 10%;
    right:  5%;
  }

#homenext{
  background: url("../images/owner.jpg") no-repeat center center fixed;
  height:100%;
  width:100%;
  position: relative;
  display: table;
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

#homenext2{
  background: url("../images/coffee.jpg") no-repeat center center fixed;
  height:100%;
  width:100%;
  position: relative;
  display: table;
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

#homenext3{
  background: url("../images/headimg.jpg") no-repeat center center fixed;
  height:500px;
  width:100%;
  position: relative;
  display: table;
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}


#subscription{
  background: url("../images/headimg.jpg") no-repeat center center fixed;
  height:100%;
  width:100%;
  position: relative;
  display: table;
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}



}
 /* #home {
  background: url("../images/banner.jpg") no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/

.row-content{

    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom:1px ridge;
    min-height:400px;
}

.caption{
  color:##32CD32;
}

.h1{

    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    max-width: 100%;
    font-family: "futura-pt";


}

.heading{
  color:#dfc12a;
}

p.name{
  text-align: justify;
}

p.bullets{
  list-style-type: square;
  text-align: justify;
}

.content{
  font-family: Montserrat-Bold;
	font-size:22px;
}


/*Navbar*/

body { padding-top: 70px; }


.navbardiv
{
background-color:#F0F1F1;
padding:2px 0;


}
.navbar-default {
    background-color: transparent;
	border-color: transparent;
}
.navbar {
margin-bottom: 0;
	}
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #4E7B7E;
    background : transparent;
	font-family: Montserrat-Regular;
	}

	.navbar-default .navbar-nav > li > a {
    color: #464646;
	font-family: Montserrat-Regular;
	}

	ul.nav.navbar-nav {
    float: left;
    margin-right: 30px;
}




/* End of Na bar */



cart{
  align: right;
  float: right;
  margin-right: 30px;
}






.footer{
    background-color: #363b3e;
    font-family: cabin;
    color:#FFFFFF;

}


/*  shopping */
.shop{

background-position: center center;

}

.button {
  display: inline-block;
  padding: 8px 15px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #dfc12a;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #dfc12a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.products{
  background-color: :#dfc12a;
}

/* End of shopping */


#minicart{
  background:url(../images/minicart.png);
	background-position: -156px 11px;
	background-repeat:no-repeat;
	width: 40px;
	height: 50px;
	padding-right: 32px;
}


.map {
        width: 500px;
        height: 400px;
      }


/* subscription-item */

      .gridlock .row .desktop-3 {
    width: 22.9166666666666667%;
}
.gridlock .row [class*="desktop-"] {
    float: left;
    margin-left: 1.0416666666666667%;
    margin-right: 1.0416666666666667%;
}
.subscription-item.newsub {
    margin-bottom: 10px;
}
.subscription-item.newsub {
    border: 1px solid #a1a1a1;
    /* background-color: #f3f3f3; */
}
.subscription-item.newsub {
    border: 1px solid #a1a1a1;
}
.subscription-item {
    border: 1px solid #a1a1a1;
}
.subscription-item {
    border: 1px solid #eee;
    margin-bottom: 50px;
    text-align: center;
    color: #000;
    background: transparent;
}
* {
    margin: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
/*
Inherited from body.gridlock
body {
    background: #ffffff;
    font-family: 'Circe-Regular', sans-serif;
    font-size: 13px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    color: #000000;
    line-height: 1.6em;
    font-weight: 400;
}
*/

/* Top Bar */

.mctb-bar, .mctb-response, .mctb-close { background: #408c6c !important; }
.mctb-bar, .mctb-label, .mctb-close { color: #eeee22 !important; }
.mctb-button { background: #222222 !important; border-color: #222222 !important; }
.mctb-email:focus { outline-color: #222222 !important; }
.mctb-button { color: #ffffff !important; }


/*Text for Images-Home page */
.page-title-wrapper {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: auto;
    max-width: 100%;
}
.title--description-alignment-center .title-desc-wrapper .title-desc-inner {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}




.figure-item {
  margin-bottom: 0;
  border-left: 24px solid transparent;
  border-bottom: 24px solid transparent;
  float: left;
  width: 50%;
  text-align: center;
}

.figure-item img{
  width: 100%;
  border: 0 !important;
  height:auto;
